body{
    background: white;
}

#titulo{
    text-align: center;

}


@media screen and (min-width: 600px){
    #section {
        float: left;
        width: 70%;
    }
    #aside{
        width: 30%;
        float: right;
    }
}